@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500&family=Permanent+Marker&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: light;
  /* font-family: 'Permanent Marker', cursive; */
}

